//colors

$black: #24242a;
$black2: #1f1f24;

$grey: #2e2e35;
$grey2: rgba(110, 110, 122, 0.5);
$grey3: #3e3e47;

$white: #fff;
$white2: rgba(255, 255, 255, 0.5);

$red1: #d54857;
$red2: #c63d4c;
$red3: #a0212f;
$red4: #cf5e6c;

$blue: #2eaeff;

//fonts
$ssp: "Source Sans Pro", sans-serif;

$radius: 0.5rem;

//flex
$r: row;
$rr: row-reverse;
$c: column;
$cr: column-reverse;
